/* src/components/Tile.css */
.tile {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    line-height: 2rem;
    width: 60px;
    height: 60px;
    border: 2px solid #d3d6da;
    margin: 2px;
    text-transform: uppercase;
    user-select: none;
    color: black;
    transition: transform 0.3s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.tile.empty {
    border-color: #d3d6da;
    background-color: white;
}

.tile.correct {
    background-color: #6aaa64;
    border-color: #6aaa64;
    color: white;
}

.tile.present {
    background-color: #c9b458;
    border-color: #c9b458;
    color: white;
}

.tile.absent {
    background-color: #787c7e;
    border-color: #787c7e;
    color: white;
}